/**
base.css 2013.11.17.2
*/
body { font-family:"Helvetica Neue",Helvetica,Arial,Microsoft Yahei,Simsun,sans-serif; }

.frame-nav-link{
	margin:0;
}

.dropdown-navbar{
	width:200px;
}

.navbar .pull-right>li>.dropdown-menu:before,.navbar .nav>li>.dropdown-menu.pull-right:before {
    right: auto;
    left: 17px;
}

.navbar .pull-right>li>.dropdown-menu:after,.navbar .nav>li>.dropdown-menu.pull-right:after {
     right: auto;
    left: 17px;
}

.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
	right: -9%;
	left: auto;
}

.breadcrumb {
	margin:0;
}

#apdbase_nav_loading {
	color:red;
	font-size:14px;
	margin:0 6px;
	font-weight:bolder;
	/*欠图案
	background: url("../../img/loading.gif") no-repeat scroll 0 0 transparent;
	*/
}

#sidebar-shortcuts{
	width:190px;
	height:40px;
}

#apdbase-nav-info {
	position: absolute;
	top: 5px;
	right: 22px;
	line-height: 24px;
}

#apdbase-nav-info{
	font-size:14px;
}

/*dataTable 下面信息栏*/
.dataTables_info,.dataTables_length{
	float:left;
}

/*rtx*/
.rtx_icon{
	line-height:16px;
	width:100px;
}

/*三级菜单兼容*/
.nav-list>li .submenu>li {
margin-left: 0;
position: relative;
}

.nav-list>li>.submenu>li:before {
content: "";
display: inline-block;
position: absolute;
width: 7px;
left: 20px;
top: 17px;
border-top: 1px dotted #9dbdd6;
}

.nav-list > li > .submenu .open > a, .nav-list > li > .submenu .open > a:hover, .nav-list > li > .submenu .open > a:focus {
background-color: transparent;
border-color: rgb(228, 228, 228);
}

.nav-list > li > .submenu li.open > a {
color: rgb(37, 99, 158);
}


.nav-list>li .submenu>li>a {
display: block;
position: relative;
color: #616161;
padding: 7px 0 9px 37px;
margin: 0;
border-top: 1px dotted #e4e4e4;
}

.nav-list .open>a, .nav-list .open>a:hover, .nav-list .open>a:focus {
background-color: #fafafa;
}

.nav-list > li > .submenu li.open > a > [class*="icon-"]:first-child {
display: inline-block;
}

.nav-list>li .submenu>li a>[class*="icon-"]:first-child {
display: none;
font-size: 12px;
font-weight: normal;
width: 18px;
height: auto;
line-height: 12px;
text-align: center;
position: absolute;
left: 10px;
top: 11px;
z-index: 1;
background-color: #FFF;
}

li [class^="icon-"], li [class*=" icon-"], .nav-list li [class^="icon-"], .nav-list li [class*=" icon-"] {
width: auto;
}

.nav-list>li a>.arrow {
display: inline-block;
width: 14px!important;
height: 14px;
line-height: 14px;
text-shadow: none;
font-size: 18px;
position: absolute;
right: 11px;
top: 11px;
padding: 0;
color: #666;
}

.nav-list > li > .submenu a > .arrow {
right: 11px;
top: 10px;
font-size: 16px;
color: rgb(107, 130, 142);
}

.nav-list > li > .submenu li.open > a .arrow {
color: rgb(37, 99, 158);
}

.nav-list > li > .submenu li > .submenu {
border-top: 0px;
background-color: transparent;
display: none;
}

.nav-list li .submenu {
overflow: hidden;
}

.nav-list>li .submenu {
display: none;
list-style: none;
margin: 0;
padding: 0;
position: relative;
background-color: #fff;
border-top: 1px solid #e5e5e5;
}


.nav-list > li > .submenu li > .submenu > li {
line-height: 16px;
}

.nav-list > li > .submenu li > .submenu > li::before {
display: none;
}



.nav-list > li > .submenu li > .submenu > li a {
font-size: 13px;
color: rgb(119, 119, 119);
}

.nav-list > li > .submenu li > .submenu > li > a {
margin-left: 20px;
padding-left: 22px;
}

.nav-list > li > .submenu li > .submenu > li a > [class*="icon-"]:first-child {
display: inline-block;
color: inherit;
font-size: 14px;
position: static;
background-color: transparent;
margin-right: 1px;
}


.nav-list>li.active>a:after, .nav-list>li.active.open>.submenu>li.active>a:after {
}
.nav-list>li.active.open>a:after , .nav-list>li.active.open>.submenu>li.active.open>a:after {
	display: none;
}
.nav-list>li.active.open>.submenu>li.active>.submenu>li.active>a:after{
	display: inline-block;
	content: "";
	position: absolute!important;
	right: 0;
	top: 4px;
	border: 8px solid transparent;
	border-width: 14px 10px;
	border-right-color: #0b6cbc;
}


.nav-list>li>.submenu>li.active>.submenu>li.active>a {
color: #0b6cbc;
}
.nav-list>li>.submenu>li>.submenu>li>a:hover {
text-decoration: none;
color: #4b88b7;
}

.nav-list>li.active.open>.submenu>li.active>.submenu>li.active>a:after {
	top: 2px;
}

/*dataTable fix FixedColumns */
.dataTables_scrollBody th,.DTFC_LeftBodyWrapper th{ 
    display:none;
}
.DTFC_LeftBodyWrapper td{
	vertical-align: middle; 
}

.nav-span{
	width:100px;
	text-align: center;
}
.nav-span>span{
	font-size:16px;
}

.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
	right: -52%;
	left: auto;
}
/*
.dropdown-menu,.dropdown-navbar{
	width:165px;
	min-width:100px;
}
*/
.dropdown-apdbase{
	width:175px;
	min-width:100px;
}

.nav li.navbar-selected{
	background-color: #2e6589;
}
.dropdown-navbar li.selected a{
	font-weight:bolder;
}
.dropdown-navbar>li>a{
	font-size: 14px;
}

#apdbase-info-sysIntro{
	margin-right:30px;
}

#page-content .row-fluid .apdbase-center,#page-content .row .apdbase-center,.row-fluid .apdbase-center,.row .apdbase-center,.apdbase-center{
	float:none;
	margin:0 auto;
}

.view .row-fluid .apdbase-center, .view .row .apdbase-center{
	float:none;
	margin:15px auto;
}


body{
	font-size:12px;
}

/*
.dropdown-navbar li a div {
	text-align:center;
}*/
